# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Project exclude paths
/node_modules/
client/node_modules/
*.csv
/client/build/
/client/build/static/css/2.3cb76441.chunk.css
/client/build/static/css/2.3cb76441.chunk.css.map
/client/build/static/js/2.caf0d149.chunk.js
/client/build/static/js/2.caf0d149.chunk.js.LICENSE.txt
/client/build/static/js/2.caf0d149.chunk.js.map
/client/build/asset-manifest.json
/client/build/favicon.ico
/client/build/index.html
/client/build/logo192.png
/client/build/logo512.png
/client/build/static/js/main.0d632401.chunk.js
/client/build/static/js/main.0d632401.chunk.js.map
/client/build/static/css/main.7fcdfe1a.chunk.css
/client/build/static/css/main.7fcdfe1a.chunk.css.map
/client/build/manifest.json
/client/build/precache-manifest.5d7bc7839763e64261996f9e40fa5bd2.js
/client/build/robots.txt
/client/build/static/js/runtime-main.09b85ec0.js
/client/build/static/js/runtime-main.09b85ec0.js.map
/client/build/service-worker.js

/config/*
